@charset "UTF-8";
body{
	background-image:url(https://cdn.pixabay.com/photo/2016/07/05/00/28/background-1497873_1280.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
h1{
	border:2px solid black;
	height:58px;
	width:800px;
	background-color:white;
	opacity:0.6;
	border-radius:40px;
	text-align:center;
	position:relative;
	top:20px;
	left:350px;
	font-size:40px;
	
}
form{
	border:2px solid black;
	height:500px;
	width:800px;
	position:relative;
	left:350px;
	top:40px;
	background-color:white;
	opacity:0.6;
	border-radius:40px;
}

label{
	position:relative;
	left:200px;
	top:60px;
	font-size:20px;
}
input{
	position:relative;
	left:240px;
	top:60px;
	width:280px;
	height:30px;
	border-radius:20px;
}
button{
	width:200px;
	height:50px;
	border-radius:20px;
	padding:10px;
	position: relative;
	left:320px;
	top:50px;
	font-size:20px;
}
a{
	text-decoration-line:none;
	color:black;
}
textarea{
	position:relative;
	left:310px;
	top:30px;
	border-radius:20px;
}